.about-myself-header {
  font-family: 'Montserrat', sans-serif;
  color: #1c3852;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-myself-content {
  font-family: 'Montserrat', sans-serif;
  color: #fff1f5;
  font-size: 16px;
  height: 300px;
  width: 750px;
  margin-top: 100px;
  text-align: justify;
}
@media screen and (max-width: 1380px) {
  .about-myself-content {
    font-size: 15px;
    margin: 10px 20px 20px 20px;
  }
}

@media screen and (max-width: 720px) {
  .about-myself-content {
    font-size: 13px;
  }
}
@media screen and (max-width: 530px) {
  .about-myself-content {
    font-size: 12px;
  }
}
@media screen and (max-width: 444px) {
  .about-myself-content {
    font-size: 10px;
  }
}
.whole-div-about-myself {
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #1c3852;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
  box-shadow: 1px 0px 8px #4685c1cd;
}
/* @media screen and (max-width: 1315px) {
  .whole-div-about-myself {
    height: 650px;
  }
} */

.denitsa-img {
  border-radius: 30px;
  height: 350px;
  margin: 50px 20px 20px;
  box-shadow: 0px 0px 20px #529de4ad;
}
@media screen and (max-width: 1442px) {
  .denitsa-img {
    height: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .denitsa-img {
    height: 250px;
  }
}
@media screen and (max-width: 450px) {
  .denitsa-img {
    height: 200px;
  }
}
@media screen and (max-width: 425px) {
  .denitsa-img {
    height: 170px;
  }
}

@media screen and (max-width: 343px) {
  .denitsa-img {
    height: 120px;
  }
}
