.about-myself-header {
  font-family: 'Montserrat', sans-serif;
  color: #1c3852;
  font-size: 30px;

  text-align: center;
}
.about-myself-content {
  font-family: 'Montserrat', sans-serif;
  color: #fff1f5;
  font-size: 18px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
  padding-top: 80px;
  text-align: justify;
  margin-bottom: 30px;
}
.whole-div-about-myself {
  background-color: #1c3852;
  height: 850px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
}
