.logo-menu {
  background-color: #ffa3bd;
  width: 35px;
  height: 5px;
  margin: 6px 0;
}
.button-style-menu {
  background-color: #fff1f5;
  border-style: none;
}
.btn-hire-me {
  background-color: #ffa3bd;
  width: 100px;
  height: 40px;
  margin-left: 75%;
  border-style: none;
}
