.list-footer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #5584b1;
}
.footer-text {
  font-family: 'Montserrat', sans-serif;
  color: #254e7b;
  font-size: 11px;
  margin-top: 10px;
  text-align: center;
}

.github-footer,
.in-footer {
  height: 35px;
  position: relative;
  text-align: center;
  align-items: center;
}
.in-footer {
  margin-left: 10px;
}

li::marker {
  color: #5584b1;
}
