.name-first-part {
  font-family: 'Montserrat', sans-serif;
  color: #fdf3f6;
  font-size: 20px;
  text-align: left;
  margin-left: 5%;
  margin-top: 130px;
}

.name-second-part-name {
  font-family: 'Montserrat', sans-serif;
  color: #1c3852;
  font-size: 35px;
  text-align: left;
  padding-top: 0;
  margin-left: 10px;
}

.text-introdiction {
  font-family: 'Montserrat', sans-serif;
  color: #fdf3f6;
  font-size: 20px;
  text-align: left;
  margin-top: 130px;
}

.text-begining-website {
  margin-top: 350px;
  margin-bottom: 500px;
  margin-left: 100px;
  margin-right: 55%;
}

@media screen and (max-width: 768px) {
  .text-begining-website {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  color: #fdf3f6;
  font-size: 10px;
  text-align: center;
}
