.navBar {
  position: fixed;
  width: 100%;
  height: 40px;
  background: transparent;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navBarActive {
  background-color: #fdf3f6;
  opacity: 90%;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navBar ul li {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  margin: 45px 0;
  font-size: 20px;
  color: #1c3852;
  padding: 10px;
  margin-left: 50px;
}
.navBarActive ul li {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  margin: 45px 0;
  font-size: 20px;
  color: #1c3852;
  padding: 10px;
  margin-left: 50px;
}
li {
  display: inline-block;
}

li a {
  text-decoration: none;
  display: inline-block;
  color: #1c3852;
  font-weight: lighter;
  font-size: 25px;
  padding: 0 20px;
}
.css-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #1c3852;
  transition: width 0.3s;
}

.css-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
